*{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.search{
    font-size: 5em;
    border: 5px solid gold;
    border-radius: 10%;
    background-color: red;
    color: gold;
    transition-duration: 0.4s;
}
.search:hover{
    background-color:gold;
    color: red;
}
.search:active {
    background-color: rgb(141, 5, 5);
    box-shadow: 0 5px gold;
    transform: translateY(4px);
}

.plus{
    padding: 2px 11px;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    background-color: red;
    color: gold;
    border: 1px solid yellow;
    transition-duration: 0.4s;
}
.plus:hover{
    background-color:gold;
    color: red;
}
.create{
    font-size: 1em;
    background-color: red;
    color: gold;
    box-shadow: 12px 12px 2px 1px yellow;
}
