*{
    padding: 10px;
}
.search{
    font-size: 5em;
    border: 5px solid gold;
    border-radius: 10%;
    background-color: red;
    color: gold;
}
.search:hover{
    background-color:gold;
    color: red;
}